<!-- The layout is optimized for mobile and larger screens but not for turned mobile screen (larger width than height) and will not be ergonomic in this setup -->
<md-toolbar>
  <h1>Lean Chrono</h1>
</md-toolbar>
<chrono-overlay [tasks] = "tasks"></chrono-overlay>
<!-- Table with every task added, with every option displayed on large screen and some shown with a button pressed on mobile
      on mobile the goal is to display the essentials : element, duration, standard duration, modify button -->
<div>
  <table class="table table-stripped" fxLayout="column">
    <tr fxLayout="row">
      <th fxFlex="40px">N°</th>
      <th fxFlex="120px">Element</th>
      <th fxFlex="150px" fxShow fxHide.xs>Duration</th>
      <th fxFlex="100px" fxShow fxHide.xs>Allure factor</th>
      <th fxFlex="100px" fxShow fxHide.xs>Maj %</th>
      <th fxFlex="150px">Standard Duration</th>
      <th fxFlex="120px">Task Type</th>
      <th fxFlex="50px"></th>
    </tr>
    <chrono-task *ngFor="let cTask of tasks" [task]="cTask" (eventRemoveTask)="removeTask($event)" [taskElements]="taskElements" [taskTypes]="taskTypes"></chrono-task>
  </table>
</div>
