<!-- The layout is optimized for mobile and larger screens but not for turned mobile screen (larger width than height) and will not be ergonomic in this setup -->
<md-toolbar>
  <h1>Lean Chrono</h1>
</md-toolbar>
<chrono-overlay [tasks] = "tasks"></chrono-overlay>
<!-- Table with every task added, with every option displayed on large screen and some shown with a button pressed on mobile
      on mobile the goal is to display the essentials : element, duration, standard duration, modify button -->
<div>
  <table class="table table-bordered" fxLayout="column">
    <tr fxLayout="row">
      <th fxFlex="5" fxHide.xs>N°</th>
      <th fxFlex="20" fxFlex.xs="60px"><span fxHide.xs>Element</span><span fxHide fxShow.xs>Elt</span></th>
      <th fxFlex="15" fxShow fxHide.xs>Original Duration</th>
      <th fxFlex="10" fxShow fxHide.xs>Allure</th>
      <th fxFlex="10" fxShow fxHide.xs>Maj %</th>
      <th fxFlex="15" fxFlex.xs="auto" class="center"><span fxHide.xs>Standard Duration</span><span fxHide fxShow.xs>Duration</span></th>
      <th fxFlex="20" fxFlex.xs="100px">Task Type</th>
      <th fxFlex="5" fxFlex.xs="100px"></th>
    </tr>
    <chrono-task *ngFor="let cTask of tasks" [task]="cTask" (eventRemoveTask)="removeTask($event)"></chrono-task>
  </table>
</div>
